name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Ez lehetővé teszi a manuális indítást is

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Upload Jar Artifact
      uses: actions/upload-artifact@v4
      with:
        name: SimpleSell-Plugin
        path: target/*.jar
